---
import Stats from "@/components/stats.astro";
import Features from "@/components/features.astro";
import HeroSection from "@/components/hero-section.astro";
import Layout from "../layouts/Layout.astro";
// import Testimonials from "@/components/testimonials.astro";
import CallToAction from "@/components/call-to-action.astro";
import Blog from "@/components/blog.astro";
import AboutMe from "@/components/about-me.astro";
---

<Layout
  title="Terapia Online com Antonia Ribeiro | Ansiedade, Autoestima e Equilíbrio Emocional"
>
  <main class="space-y-40 mb-40">
    <HeroSection />
    <AboutMe />
    <Features />
    <Stats />
    <!-- <Testimonials /> -->
    <CallToAction />
    <Blog />
  </main>
</Layout>
