---
import Container from "./container.astro";
import { Image } from "astro:assets";
---

<footer class="p-4 bg-white md:p-8 lg:p-10 dark:bg-gray-800" id="contact">
  <Container>
    <div class="mx-auto max-w-screen-xl text-center">
      <Image
        src="/images/logo.png"
        alt="Logo"
        width={200}
        height={200}
        class="h-auto mx-auto lg:w-[30%] flex flex-col justify-center"
      />

      <p class="my-6 text-gray-500 dark:text-gray-400 font-medium">
        "Cuidar da sua saúde mental é o primeiro passo para transformar sua
        vida."
      </p>
      <ul
        class="flex flex-wrap justify-center items-center mb-6 text-gray-900 dark:text-white"
      >
        <li><a href="#home" class="mr-4 hover:underline md:mr-6">Home</a></li>
        <li><a href="#about" class="mr-4 hover:underline md:mr-6">Sobre</a></li>
        <li>
          <a href="#features" class="mr-4 hover:underline md:mr-6">Serviços</a>
        </li>
        <li>
          <a href="#solution" class="mr-4 hover:underline md:mr-6"
            >Como funciona</a
          >
        </li>
        <li><a href="#blog" class="mr-4 hover:underline md:mr-6">Blog</a></li>
        <li>
          <a
            href="https://dub.sh/contato"
            target="_blank"
            rel="noopener noreferrer"
            class="mr-4 hover:underline md:mr-6">Contato</a
          >
        </li>
      </ul>
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
        >© {new Date().getFullYear()}
        <a
          href="https://bio.link/psiantoniaribeiro"
          target="_blank"
          rel="noopener noreferrer"
          class="hover:underline"
        >
          ANTONIA | Psicóloga
        </a>. Todos os direitos reservados.
      </span>
    </div>
  </Container>
</footer>
