---
import "@/styles/globals.css";
import { join } from "node:path";
// import "@/styles/tailus.css";
import { AstroFont } from "astro-font";
import AppHeader from "@/components/app-header.astro";
import AppFooter from "@/components/app-footer.astro";

export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Antonia Ribeiro" />
    <meta
      name="keywords"
      content="Antonia Ribeiro, psicóloga online, terapia online, ansiedade, baixa autoestima, dependência emocional, Terapia Cognitivo-Comportamental, TCC, saúde mental, psicóloga para jovens, terapia para adolescentes, consulta psicológica online"
    />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content={description ??
        "Antonia Ribeiro, psicóloga com ênfase em Terapia Cognitivo-Comportamental (TCC). Ajudando adolescentes e jovens adultos a superar ansiedade, baixa autoestima e dependência emocional com sessões online acessíveis e acolhedoras. Agende sua consulta agora!"}
    />
    <meta
      property="og:title"
      content="Terapia Online com Antonia Ribeiro | Ansiedade, Autoestima e Equilíbrio Emocional"
    />
    <meta
      property="og:description"
      content="Superar desafios emocionais nunca foi tão acessível. Psicóloga especializada em TCC com sessões online personalizadas. Vamos transformar sua vida?"
    />
    <meta
      property="og:image"
      content="https://antonia-ribeiro.vercel.app/images/logo.png"
    />
    <!-- Substituir pela URL da imagem principal -->
    <meta property="og:url" content="https://antonia-ribeiro.vercel.app/" />
    <!-- Substituir pela URL do site -->
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Terapia Online com Antonia Ribeiro | Ansiedade, Autoestima e Equilíbrio Emocional"
    />
    <meta
      name="twitter:description"
      content="Ajudando adolescentes e jovens adultos a superar ansiedade, baixa autoestima e dependência emocional com sessões acessíveis e acolhedoras."
    />
    <meta
      name="twitter:image"
      content="https://antonia-ribeiro.vercel.app/images/logo.png"
    />
    <!-- Substituir pela URL da imagem principal -->

    <title>{title}</title>

    <AstroFont
      config={[
        {
          src: [],
          name: "Urbanist",
          preload: true,
          display: "swap",
          selector: "html",
          fallback: "sans-serif",
          googleFontsURL:
            "https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap",
        },
        {
          src: [
            {
              style: "normal",
              weight: "400",
              path: join(
                process.cwd(),
                "public",
                "fonts",
                "GlacialIndifference-Regular.otf"
              ),
            },
          ],
          name: "Glacial",
          preload: true,
          display: "swap",
          selector: "html",
          fallback: "sans-serif",
        },
      ]}
    />
  </head>
  <body class="bg-[#e9e9e9]/80 dark:bg-gray-950">
    <AppHeader />
    <slot />
    <AppFooter />
  </body>
</html>
